<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.indagoip">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prueba3">
        <activity
            android:name="com.example.indagoip.ListadoLogsActivity"
            android:label="@string/title_activity_listado_logs"
            android:theme="@style/Theme.Prueba3.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.indagoip.MainActivity" />
        </activity>
        <activity
            android:name="com.example.indagoip.ListadoHostsActivity"
            android:label="@string/title_activity_listado_hosts"
            android:theme="@style/Theme.Prueba3.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.indagoip.MainActivity" />
        </activity>
        <activity
            android:name="com.example.indagoip.VisualizarMapa"
            android:label="@string/title_activity_visualizar_mapa"
            android:theme="@style/Theme.Prueba3.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.indagoip.MainActivity" />
        </activity>
        <activity
            android:name="com.example.indagoip.AcercaDeActivity"
            android:label="@string/title_activity_acerca_de"
            android:theme="@style/Theme.Prueba3.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.indagoip.MainActivity" />
        </activity>
        <activity
            android:name="com.example.indagoip.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.Prueba3.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.indagoip.MainActivity" />
        </activity>
        <activity android:name="com.example.indagoip.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>